.task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  padding: 0.5rem;
  border: 2px solid var(--bg-color-primary-dark);
  border-radius: 1rem;
  gap: 1rem;

  > .task-content {
    cursor: text;
    min-height: 1.5em;
    margin: 0;
    font-weight: 500;
    padding: 0 0.5rem;
    flex: 1 1 65%;
    word-break: break-all;
    min-width: 15rem;
    &:hover {
      background-color: var(--bg-color-primary-dark);
    }
  }
  > .btns {
    display: flex;
    gap: 0.5rem;
    flex: 1 1 20%;
    width: min-content;
    align-items: center;
    justify-content: flex-end;
  }
}

.task:hover .update-task {
  opacity: 1;
}
.task:hover .delete-task {
  opacity: 1;
}
.new-task {
  padding: 0;
  opacity: 0;
  transition: opacity 0.2s;
  button {
    display: flex;
    color: var(--text-color-secondary);
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 2px dashed currentColor;
    border-radius: 1rem;
    cursor: pointer;

    svg {
      aspect-ratio: 1/1;
      width: 2rem;
      height: fit-content;
    }
    &:hover {
      border-style: solid;
    }
  }
}

.update-task {
  margin-left: auto;
  opacity: 0;
  transition: opacity 0.2s;
}

.tasks:hover .new-task {
  opacity: 1;
}
.new-task:first-child {
  opacity: 1;
}
.delete-task {
  opacity: 0;
  transition: opacity 0.2s;
}
