.popover {
  --popover-background: var(--bg-color-secondary, inherit);
  --popover-border: 2px solid var(--bg-color-primary-dark, inherit);
  display: flex;
  border-radius: 0.5rem;
  padding: 0.25rem;
  border: var(--popover-border);
  background-color: var(--popover-background);
}
.arrow {
  color: var(--bg-color-primary-dark, inherit);
}
