.calendar-day {
  min-width: 12rem;
  max-width: 30rem;
  width: 100%;

  border-radius: 1rem;
  padding: 1rem;
  flex-grow: 1;
  background-color: var(--bg-color-primary);
  border: 2px solid transparent;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;

  > div {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
  }
}

.calendar-day::-webkit-scrollbar {
  display: none;
}

.calendar-now-marker {
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 4rem 1fr;
  column-gap: 0.5rem;
  color: var(--color-purple);
  font-weight: bold;
  width: 100%;
  gap: 0.5rem;
  z-index: 100;
  translate: 0 -50%;

  span {
    text-wrap: nowrap;
    text-align: center;
    background-image: linear-gradient(
      to bottom,
      transparent 0%,
      var(--bg-color-primary) 20%,
      var(--bg-color-primary) 80%,
      transparent 100%
    );
  }
  hr {
    position: relative;
    margin: auto;
    border: currentColor 1px solid;
    overflow: visible;
    width: 100%;

    &::before {
      content: '';
      left: 0;
      translate: -50% -50%;
      position: absolute;
      border-radius: 50%;
      border: currentColor 3px solid;
    }
  }
}

.calendar-hour {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 4rem 1fr;
  column-gap: 0.5rem;
  color: var(--text-color-secondary);
  margin-bottom: 2rem;
  translate: 0 -50%;

  span {
    text-wrap: nowrap;
    text-align: center;
  }
  hr {
    margin: auto;
    width: 100%;
    border: var(--bg-color-primary-dark) 0.5px solid;
  }
}

.calendar-event {
  position: absolute;
  left: 5rem;
  width: calc(100% - 5rem);
  cursor: pointer;
  border-radius: 0.5rem;
  min-height: fit-content;
  overflow: hidden;
  background-color: var(--bg-color-primary-dark);
  background-color: color-mix(
    in srgb,
    currentColor 20%,
    var(--bg-color-primary)
  );
  border: 2px solid transparent;
  &:hover {
    border-color: currentColor;
    border-style: dashed;
  }
  > a {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    height: 100%;

    h5 {
      margin: 0;
      padding: 0;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0.3rem;
      top: 0.3rem;
      bottom: 0.3rem;
      width: 0.3rem;
      background-color: currentColor;
      border-radius: 0.5rem;
    }
    p {
      margin: 0;
      padding: 0;
      overflow: hidden;
      text-overflow: clip;
    }
  }
}

.small-event {
  > div {
    padding: auto;
    padding-left: 1.5rem;
    justify-content: center;

    p {
      display: none;
    }
  }
}
.purple-color {
  color: var(--color-purple) !important;
  border-color: var(--color-purple) !important;
}
