.project {
  gap: 1rem;
  padding: 0.5rem;
  margin-top: 1.5rem;
}

.project-content {
  ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    padding: 0;
  }
}
.project-header {
  gap: 0.5rem;
  display: flex;
  flex-grow: 1;
  gap: 0.5rem;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: center;

  button > svg {
    aspect-ratio: 1/1;
    width: 1.2rem;
    height: fit-content;
    transition: scale 0.2s;

    &:hover {
      scale: 1.5;
    }
  }

  h3 {
    margin: 0;
    padding: 0;
  }

  ul {
    width: 100%;
  }
}

.task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid var(--bg-color-primary-dark);
  border-radius: 1rem;
  gap: 1rem;
  word-wrap: normal;

  div {
    cursor: text;
    min-height: 1.5em;
    margin: 0;
    font-weight: 500;
    padding: 0 0.5rem;
    flex-grow: 1;
  }
}
.new-task {
  padding: 0;

  button {
    display: flex;
    color: var(--text-color-secondary);
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 2px solid currentColor;
    border-radius: 1rem;
    cursor: pointer;

    svg {
      aspect-ratio: 1/1;
      width: 2rem;
      height: fit-content;
    }
  }
}
.checkbox-input {
  display: none;

  &:not(:checked) + .checkmark:hover {
    background-color: var(--bg-color-primary-dark);
  }

  &:checked + .checkmark {
    background-color: color-mix(
      in srgb,
      currentColor 20%,
      var(--bg-color-primary)
    );
    border-color: var(--color-green);
    color: var(--color-green);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 24 24'%3E%3Cpath fill='%2312b05f' d='m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z'/%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &:hover {
      border: 2px dashed currentColor;
    }
  }
}

.checkmark {
  content: '';
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  border: 2px solid var(--bg-color-primary-dark);
  border-radius: 0.4rem;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-color-primary-dark);
  }
}
.update-task {
  margin-left: auto;
  &:hover {
    color: var(--color-green);
  }
}
.delete-task {
  &:hover {
    color: var(--color-red);
  }
}
