.project {
  gap: 1rem;
  padding: 0.5rem;
  margin-top: 1.5rem;
}

.project-content {
  ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    padding: 0;
  }
}

.project-header {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: center;
  justify-items: center;
  word-break: break-all;
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
.important-button > svg {
  aspect-ratio: 1/1;
  width: 1.2rem;
  height: fit-content;
  transition: scale 0.2s;

  &:hover {
    scale: 1.5;
  }
}

.project-name {
  font-weight: 600;
  font-size: 1.2rem;
}
.new-project {
  padding: 0.5rem;
  margin: 1.5rem 0;
  display: flex;
  padding: 0.5rem;
  color: var(--text-color-secondary);
  width: 100%;
  font-weight: 600;

  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  border: 2px dashed currentColor;
  border-radius: 1rem;
  cursor: pointer;

  svg {
    aspect-ratio: 1/1;
    width: 2rem;
    height: fit-content;
  }
  &:hover {
    border-style: solid;
  }
}
