.alerts {
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50%;
  z-index: 1000;
  display: flex;
  width: 20rem;
  flex-direction: column;
  padding: 1rem;
}

.alert {
  display: flex;
  margin: 0.3rem;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  gap: 0.5rem;
  background-color: color-mix(
    in srgb,
    var(--bg-color-primary-dark) 90%,
    transparent 10%
  );

  > div {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.message {
  display: -webkit-box;
  font-weight: 600;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  flex-grow: 1;
  margin: 0;
}

.close {
  flex-shrink: 0;
  aspect-ratio: 1/1;
  stroke: var(--text-color-disabled);
  width: fit-content;
  height: 100%;
  cursor: pointer;
  border: 0;
  background: none;
  line-height: 0;
  width: 1.5rem;
  height: 1.5rem;
  svg {
    stroke: var(--text-color-disabled);
    width: 100%;
    height: fit-content;
  }
}
.close:hover {
  stroke: var(--text-color-primary);
}
.success {
  fill: rgb(124, 193, 20);
  min-width: fit-content;
  min-height: 100%;
}
.error {
  fill: rgb(193, 20, 20);
  padding: 0.15rem;
  min-width: fit-content;
  min-height: 85%;
}

.warning {
  fill: rgb(209, 163, 10);
  padding: 0.15rem;
  min-width: fit-content;
  min-height: 85%;
}
.info {
  fill: rgb(9, 186, 199);
  min-width: fit-content;
  min-height: 100%;
}
